*,
html {
	box-sizing: border-box;
}

body {
	color: #000;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: #fff;
	background-color: #fff;
	overflow-x: hidden;
}

.container {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	position: relative !important;
	padding: 18px 0;
	color: #fff;
	min-height: 100vh;
	background-image: url('../images/header-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
}
.menu {
	display: flex;
	align-items: center;
	gap: 47px;
}

.menu__item-link {
	color: #fff;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 24px */
	letter-spacing: -0.352px;
}
.header__call-btn {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; /* 16px */
	letter-spacing: -0.32px;
	text-transform: uppercase;
	padding: 14px 27px;
	border-radius: 30px;
	border: 1px solid #fff;
	transition: all 0.3s;
}

.header__call-btn:hover {
	background: #fff;
	color: #000;
}
.header__lang {
	color: #fff;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 24px */
	letter-spacing: -0.352px;
}

.header__slider {
	position: absolute;
	z-index: 1000;
	top: 50%;
	transform: translateY(-50%);
}
.header__item {
	max-width: 555px;
}
.header__title {
	color: #fff;
	font-family: Arial;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 63px */
	letter-spacing: 2.52px;
	margin-bottom: 13px;
}
.header__text {
	color: #fff;
	font-family: Arial;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px; /* 135% */
	margin-bottom: 53px;
}

.header__btn {
	padding: 13px 25px;
	display: block;
	color: #fff;
	text-align: center;
	font-family: Arial;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 16px */
	letter-spacing: -0.32px;
	text-transform: uppercase;
	border-radius: 30px;
	border: 2px solid #fff;
	transition: all 0.3s;
}

.header__btn:hover {
	color: #000;
	background: #fff;
}

.title {
	color: #000;
	font-family: Arial;
	font-size: 42px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 63px */
	letter-spacing: 2.52px;
	text-transform: uppercase;
}

.header__item {
	opacity: 0;
	transition: opacity 0.8s ease;
	height: 0;
	overflow: hidden;
	pointer-events: none;
	transform: translateX(20px);
	transition: opacity 0.8 ease, transform 0.8s ease;
}

.header__item.active {
	opacity: 1;
	height: auto;
	pointer-events: auto;
	transform: translateY(0);
}

.slider-controls {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: -100px;
}

.slider-dots {
	display: flex;
	align-items: center;
	/* gap: 12px; */
}
.dot + .dot {
	margin-left: 12px;
}
.arrow-prev {
	margin-right: 28px;
}

.arrow-next {
	margin-left: 28px;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	border: 1px solid #fff;
	cursor: pointer;
}

.dot.active {
	background-image: url('../images/dot-active.png');
	border: none;
	width: 22px;
	height: 22px;
}

.slider-arrows button {
	background: none;
	border: none;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

.arrow-prev,
.arrow-next {
	height: 24px;
}

.why {
	padding: 75px 0 115px;
}

.why__title {
	margin-bottom: 55px;
}

.why__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 43px;
}
.why__text {
	color: #000;
	font-family: Arial;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 24px */
	margin-bottom: 42px;
}
.why__items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 42px;
	column-gap: 35px;
}

.why__item-img {
	margin-bottom: 10px;
}
.why__item-text {
	min-width: 215px;
}
.why__video {
	position: relative;
	display: inline-block; /* або block, якщо треба 100% ширину */
}

.why__preview {
	display: block;
	height: auto;
}

.why__play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	border-radius: 50%;
	color: white;
	font-size: 24px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;
	width: 80px;
	height: 80px;
}

.why__play:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.products {
	padding: 58px 0 83px;
	background-image: url('../images/products-bg.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.products__title {
	margin-bottom: 67px;
}

.products__text {
	color: #000;
	font-family: Arial;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 24px */
}
.products__text {
	width: 575px;
}
.products__text + .products__text {
	margin-top: 30px;
}

.products__text-bottom {
	margin-bottom: 50px;
}
.products__buttons {
	display: flex;
	gap: 20px;
}
.products__btn {
	padding: 13px 30px;
	color: #0b304a;
	text-align: center;
	font-family: Arial;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 17px */
	letter-spacing: -0.34px;
	text-transform: uppercase;
	border-radius: 30px;
	border: 2px solid #0b2f4a;
	transition: all 0.3s;
}
.products__btn:hover {
	background: #0b2f4a;
	color: #fff;
}

.delivery {
	padding: 78px 0 148px;
}

.delivery__title {
	margin-bottom: 24px;
}

.delivery__text {
	margin-bottom: 24px;
}
.delivery__map {
	width: 1020px;
}

.process {
	padding: 47px 0 100px;
	background: #f6f6f7;
}
.process__title {
	margin-bottom: 35px;
}

.process__items {
	display: flex;
	align-items: center;
	gap: 44px;
	margin-bottom: 45px;
}
.process__item {
	width: 310px;
	padding: 41px 34px;
	border-radius: 10px;
	background: #275a5b;
}
.process__item-title {
	color: #fff;
	font-family: Arial;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 28.5px */
	text-transform: uppercase;
}
.process__item-text {
	color: #fff;
	font-family: Arial;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 27px */
	margin-top: 34px;
}
.process__btn {
	color: #0a2f4a;
	text-align: center;
	font-family: Arial;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 17px */
	letter-spacing: -0.34px;
	text-transform: uppercase;
	padding: 13px 40px;
	border-radius: 30px;
	border: 2px solid #0e344e;
	transition: all 0.3s;
}

.process__btn:hover {
	background: #0e344e;
	color: #fff;
}
.process__item:nth-child(1) {
	background-image: url('../images/products-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.process__item:nth-child(2) {
	background-image: url('../images/products-2.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.process__item:nth-child(3) {
	background-image: url('../images/products-3.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.process__item:nth-child(1)::after,
.process__item:nth-child(2)::after {
	content: "";
	position: absolute;
	background-image: url('../images/process-arrow.svg');
	background-repeat: no-repeat;
	width: 44px;
	height: 16px;
	right: -44px;
	top: 120px;
}

